<table
  style="
    color: #323232;
    border: none;
    border-collapse: collapse;
    width: 100%;
    {{{exp}}}
  "
>
  {{#data}}
    <tr style="{{style}}">
      <th
        style="
          width: 50%;
          text-align: left;
          border-right: 3px solid rgba(0, 0, 0, 0.05);
          padding: 0.5em 0.7em;
          word-break: break-word;
          vertical-align: top;
          font-size: 12px;
          font-weight: 400;
        "
      >
        {{label}}
      </th>
      <td
        style="
          width: 50%;
          padding: 0.5em 0.7em;
          word-break: break-word;
          vertical-align: top;
          font-size: 12px;
          font-weight: 400;
        "
      >
        {{value}}
      </td>
    </tr>
  {{/data}}
</table>